@import "tailwindcss";
@import "./elevation.css";
@source "../components/**/*.{ts,tsx}";

:root {
  --foreground: #171717;
  --background: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}