@import "tailwindcss";
@import "./elevation.css";
@import "./animation.css";
@source "../components/**/*.{ts,tsx}";

@theme {
  --color-kakao-container: #FEE500;
  --color-kakao-label: #000000;
  --color-kakao-symbol: rgba(0,0,0,0.85);
  --color-google-border: #E5E7EB;
  --color-google-label: #000000;
  --color-google-container: #ffffff;
}

:root {
  --foreground: #171717;
  --background: #ffffff;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  button,
  a {
    @apply cursor-pointer;
  }

  button:disabled,
  a[aria-disabled='true'],
  a.disabled {
    @apply cursor-not-allowed;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}