@import "tailwindcss";
@source "../components/**/*.{ts,tsx}";

@theme {
  --color-kakao-container: #FEE500;
  --color-kakao-label: '#000000';
  --color-kakao-symbol: rgba(0,0,0,0.85);
  --color-google-border: '#E5E7EB';
  --color-google-label: '#000000';
  --color-google-container: '#ffffff';
}

:root {
  --foreground: #171717;
  --background: #ffffff;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}
